<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cf.bautroixa.maptest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tripgether"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_tripgether"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".settings.SettingActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".settings.BooleanSettingActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".settings.DarkModeSettingActivity"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/server_host"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="tripgether"
                    android:pathPrefix="/"
                    android:scheme="tripgether" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertActivity"
            android:showOnLockScreen="true"
            android:theme="@style/NoActionBar.NoStatusBar" />
        <activity android:name=".auth.ChangePasswordActivity" />
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".auth.DetailProfileActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".auth.RegisterActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.UpdateLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TripInvitationActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".CreateTripActivity"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/config_gg_map_api_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_marker" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar.NoStatusBar"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>